@model LogiTech.Models.Route

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <input asp-for="VehicleId" class="form-control" />
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleStatus" class="control-label"></label>
                <input asp-for="VehicleStatus" class="form-control" />
                <span asp-validation-for="VehicleStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacityPercent" class="control-label"></label>
                <input asp-for="CapacityPercent" class="form-control" />
                <span asp-validation-for="CapacityPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelSaved" class="control-label"></label>
                <input asp-for="FuelSaved" class="form-control" />
                <span asp-validation-for="FuelSaved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceSaved" class="control-label"></label>
                <input asp-for="DistanceSaved" class="form-control" />
                <span asp-validation-for="DistanceSaved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImprovementPercent" class="control-label"></label>
                <input asp-for="ImprovementPercent" class="form-control" />
                <span asp-validation-for="ImprovementPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
